{% comment %}
  /**
   * @param {string} section_id - The section ID
   * @param {string} snippet_context - The context of the snippet
   * @param {object} customer - The customer object
   */
{% endcomment %}

<div class="input-group newsletter__input-group">
  <div id="fd-form-682d9408917f56fa93c025f2"></div>
  <script>
    window.fd('form', {
      formId: '682d9408917f56fa93c025f2',
      containerEl: '#fd-form-682d9408917f56fa93c025f2'
    });
  </script>
</div>
