{% comment %}
  /**
   * @param {object} section - section object
   * @param {object} page - page object
   */
{% endcomment %}

<div class="page-width page-width--narrow page-content">
  <header class="section-header">
    <h2 class="section-header__title text-center">
      {{ page.title | escape }}
    </h2>
  </header>

  <div class="rte rte--nomargin clearfix">
    {{ page.content }}
  </div>
</div>
