/**
 * @TODO: Header styles
 */
body::before,
body::after {
	content: '';
	display: block;
	width: 100%;
	height: 8px;
	background: url('./bg-line-body.jpeg') top left no-repeat;
	background-size: cover;
}

.announcement-slider__content p {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.site-header__element.site-header__element--top {
	background-color: #FEFDF2;
}

.header-item--search > is-land {
	display: block;
	width: 100%;
}

@media screen and (min-width: 1200px) {
	.header-item--search {
		margin-left: 110px;
	}
}

@media screen and (min-width: 1400px) {
	.site-navigation--below {
		display: flex;
		justify-content: space-between;
        flex-wrap: wrap;
	}
	.site-navigation--below > .site-nav__item > .site-nav__link {
		padding-right: 0;
	}
}

@media screen and (max-width: 768px) {
	.site-nav__link--icon .icon {
		width: 20px;
		height: 20px;
	}
}

.header-item--search .search__input {
	padding-top: 12px;
	padding-bottom: 12px;
	color: var(--color-primary-text) !important;
	border-color: #DCDBCF;
	background-color: transparent;
}

.header-item--search .search__input::-ms-input-placeholder,
.site-header__element--sub .search__input::-ms-input-placeholder,
.footer__newsletter .newsletter__input-group input[type="email"]::-ms-input-placeholder { 
	color: var(--color-primary-text) !important;
	font-family: var(--typeBaseMedium);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	opacity: 1;
}

.header-item--search .search__input::placeholder,
.site-header__element--sub .search__input::placeholder,
.footer__newsletter .newsletter__input-group input[type="email"]::placeholder {
	color: var(--color-primary-text) !important;
	font-family: var(--typeBaseMedium);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	opacity: 1
}

.header-item--search .btn--search path {
    stroke: #000 !important;
	stroke-width: 0;
}

.header-item--icons .site-nav__link {
	color: var(--color-primary-text);
}

.site-nav__link--icon .icon path {
	fill: var(--color-primary-text);
    stroke-width: 0px;
    stroke: currentColor;
}

.site-nav__link--icon-account .icon {
	width: 24px;
	height: 24px;
}

.site-nav__link--icon-account .icon path {
	stroke: inherit;
}

.site-nav__close-cart .site-nav__link--icon .icon path {
	stroke-width: 3px;
}

.header-item--icons .site-nav__link {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.header-item--icons .site-nav__icons .mobile-nav-trigger svg path, 
.header-item--icons .site-nav__icons .mobile-nav-trigger svg rect,
.header-item--compress-nav  svg rect{
	fill: inherit;
    stroke-width: 2px;
    stroke: unset;
}

.site-header__element--sub[data-type="search"] .btn--search path {
	stroke: var(--color-primary-text) !important;
	stroke-width: 0px;
}

@media screen and (max-width: 767px) {
	.site-header__element--sub,
	.search__input {
		background-color: #FEFDF2;
	}
}

/**
 * Mega menu
 */

 @media screen and (min-width: 750px) {
	.megamenu__col .megamenu__col-title {
		margin-bottom: 16px;
	}
	.megamenu__col .megamenu__col-title .site-nav__dropdown-link {
		font-size: 16px;
	}
	.megamenu__col .site-nav__dropdown-link {
		font-size: 13px;
	}
	.megamenu__cols.megamenu__cols--without-feature {
		flex: 1 1 100%;
		columns: 5;
		flex-direction: row;
		display: flex;
		justify-content: space-between;
	}
 }

/**
 * SlideShow
 */
.hero-natural--minimal-arrow .hero[data-arrows=true] .flickity-previous {
    left: 48px;
}

.hero-natural--minimal-arrow .hero[data-arrows=true] .flickity-prev-next-button {
    top: 50%;
    bottom: auto;
}

.hero .slideshow__slide .hero__link .btn {
	font-size: 16px;
	font-family: var(--typeBaseMedium);
	font-weight: 700;
	text-transform: capitalize;
}

@media screen and (max-width: 768px) {
	.hero-natural--minimal-arrow .hero[data-arrows=true] .flickity-prev-next-button {
		display: none;
	}
	.hero .slideshow__slide .hero__animation-contents {
		font-size: 16px;
	}
}
/**
 * Collection-Lists
 */
.collection--with-text-overlap .image-wrap img:not([role=presentation]){
	padding: 0;
}
.collection--with-text-overlap .collection--info {
	position: absolute;
	width: 100%;
}
.collection--with-text-overlap[data-view=xsmall] .grid-item, 
.collection--with-text-overlap[data-view=small] .grid-item, 
.collection--with-text-overlap[data-view=medium] .grid-item {
	margin-bottom: 0;
}
.collection--with-text-overlap .collection-item {
	margin-bottom: 0;
}
.collection-item__title {
	color: #FDFDF6;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 16px;
}
.collection--info p {
	color: #FDFDF6;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
@media only screen and (min-width: 768px) {
	.index-section.collection-lists {
		margin-top: 48px;
	}
	.collection--with-text-overlap .collection--info {
		bottom: 48px;
	}
}
@media only screen and (max-width: 767px) {
	.index-section.collection-lists {
		margin-top: 24px;
	}
	.collection--with-text-overlap[data-view=xsmall] .grid-item, 
	.collection--with-text-overlap[data-view=small] .grid-item, 
	.collection--with-text-overlap[data-view=medium] .grid-item {
		flex: 0 0 100%;
		margin-bottom: 24px;
	}
	.collection--with-text-overlap .collection--info {
		bottom: 24px;
	}
	.collection-item__title {
		font-size: 24px;
	}
}
/**
 * @Arrivals Collection
 */
.feature-collection .section-header__link {
	font-family: var(--typeBaseMedium);
	color: var(--colorLinks);
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
[dir="ltr"] [data-grid-style="simple"] .new-grid:not([data-view="list"]) .grid-item__meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
	margin-right: 0;
	height: inherit;
	flex: 1;
}
.grid-product__title {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.grid-product__price {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.feature-collection .section-header__title {
	font-size: 24px;
}
.product-grid-item .grid-item__link {
	display: flex;
    width: 100%;
    height: inherit;
    flex-direction: column;
    justify-content: space-around;
}
.grid-item__meta-main {
	height: inherit;
	width: 100%;
}
@media screen and (min-width: 769px) {
	.grid-item__meta {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 767px) {
	.feature-collection .section-header__title {
		font-size: 20px;
	}
	[dir="ltr"] [data-grid-style="simple"] .new-grid:not([data-view="list"]) .grid-item__meta {
		gap: 16px;
	}
	.grid-item__meta {
		margin: 16px;
		margin-bottom: 0px;
	}
	.grid-product__title {
		font-size: 14px;
		line-height: 20px;
	}
	.grid-product__price {
		font-size: 14px;
		line-height: 20px;
	}
	.page-width--flush-small .scrollable-grid--small {
		margin-left: -7.5px;
	}
	.grid-item {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
}
/**
 * Promo Grid Item
 */
.promo-grid .rte--em {
	font-family: var(--typeBaseMedium);
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 16px;
}
.promo-grid .enlarge-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 24px;
}
.promo-grid .rte--strong {
	margin-bottom: 16px;
	font-weight: 400;
}
.promo-grid>.flex-grid>.flex-grid__item--50 .btn {
	font-family: var(--typeBaseMedium);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	padding: 16px 48px;
}
@media screen and (max-width: 767px) {
	.promo-grid .enlarge-text {
		margin-bottom: 16px;
	}
	.promo-grid>.flex-grid>.flex-grid__item--50 .btn {
		font-size: 14px;
		padding: 10px 24px;
	}
	.type-advanced .horizontal-left .rte--block {
		padding-left: 0;
	}
}
/**
 * Collection Content
 */
.collection-grid__wrapper .grid-item {
	margin-bottom: 32px;
}
.no-bullets {
    max-height: 236px;
    height: 100%;
    overflow: auto;
}
.collection-related .promo-grid__container {
	display: flex;
    flex-direction: column;
}
.collection-related .image-wrap img:not([role=presentation]) {
	height: 100%;
}
.collection-related .image-wrap {
	border-radius: 50%;
}
.promo-image-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: inherit;
	justify-content: space-between;
	gap: 16px;
}
.collection-related--title {
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}
.collection-related .flex-grid {
	flex-wrap: nowrap;
}
.tag--remove .btn {
	color: #FDFDF6;
}
.tag--remove svg path {
	stroke: #FDFDF6;
}
.collapsible-trigger__layout--inline>span {
	font-size: 20px;
}
.collapsible-content--all.is-open .tag__text,
.price-range__display-wrapper > span{
	font-size: 14px;
}
div[data-collection-count] {
	font-size: 14px;
}
[data-view=list] .grid-item__link {
	flex-direction: row;
}
[data-view=list] .grid-product__image-wrap {
	margin: calc(var(--productTileMargin) / 8);
    margin-right: 0;
    margin-left: 0;
}

[data-view=list] .grid-product__price--current {
	font-size: 16px;
}

@media screen and (min-width: 768px) {
	.collection-grid__wrapper .grid-item {
		margin-bottom: 48px;
	}
	.collection-grid__wrapper [data-view=list] .grid-item {
		margin-bottom: 0px;
	}
	.collection-content {
		padding-top: 48px;
	}
	.collection-related {
		margin-bottom: 32px;
	}
	.collection-filter__item--count {
		font-size: 14px;
	}
}
@media screen and (max-width: 767px) {
	.collection-content {
		padding-top: 16px;
	}
	.collection-grid__wrapper [data-view=list] .grid-item {
		margin-bottom: 12px;
	}
	.collapsible-trigger__layout--inline>span {
		font-size: 18px;
	}
	.collection-related--title {
		font-size: 13px;
	}
	[data-view=list] .grid-product__price--current {
		font-size: 14px;
	}
}
/**
 * Product Page
 */
.product-single__title {
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
	margin-bottom: 0;
}
.product-block {
	margin-bottom: 24px;
}
.product-block--header {
	margin-bottom: 16px;
}
.product-description {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
label:not(.variant__button-label):not(.text-label), .label {
	font-size: 16px;
	font-weight: 400;
}
.variant-input-wrap input[type=radio]:checked+label {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.variant-input-wrap label {
    padding: 8px 16px;
    border-radius: 8px;
}
.add-to-cart.btn--secondary {
	border-color: var(--colorBgButtonSecondary);
	color: #FFFFFF;
    text-transform: capitalize;
}
.shopify-payment-button .shopify-payment-button__button--unbranded {
	color: #FFFFFF;
	text-transform: capitalize;
}
.product__photo-zoom svg path {
	stroke: #FFFFFF;
}
.page-content--product .product__photos {
	margin-top: 0;
}
.js-qty__wrapper {
	max-width: 140px;
}
.js-qty__wrapper .js-qty__adjust {
	min-width: 24px;
	padding: 0 6px;
}
.js-qty__adjust .icon-minus {
	width: 15px;
}
.js-qty__adjust .icon-plus {
	width: 20px;
    height: 35px;
}
.js-qty__wrapper .js-qty__adjust--minus {
	padding-left: 16px;
}
.js-qty__wrapper .js-qty__adjust--plus {
	padding-right: 16px;
}
.js-qty__adjust .icon path {
	fill: currentColor;
    stroke: inherit;
    stroke-width: 0;
}
.page-content--product .shopify-product-form,
.page-content--product .shopify-product-form .po-stack,
.page-content--product .shopify-product-form .po-option--type-button__inline  {
	margin-left: 0px !important;
}
.shopify-product-form .po-option__button-media {
	border-radius: 8px !important;
	border: 2px solid #DCDBCF !important;
	padding: 8px 16px !important;
}
.shopify-product-form .po-option__button-media:hover,
.shopify-product-form .po-option__value input:checked ~ .po-option__button-media {
	background-color: #FFFFFF !important;
}
.shopify-product-form .po-option__value input:checked ~ .po-option__button-media {
	border-color: #28282C !important;
	color: #28282C !important;
}
.shopify-product-form .po-option__button-value {
	font-size: 16px !important;
	font-weight: 700 !important;
	line-height: 24px !important;
}
.shopify-product-form .po-option__button-media:hover .po-option__button-value {
	color: #28282C !important;
}
@media only screen and (min-width: 769px) {
	.product__price {
        font-size: calc(var(--typeBaseSize) + 8px);
    }
	.product-image-main {
		border-radius: 8px;
		overflow: hidden;
	}
}
@media screen and (max-width: 768px) {
	.product__main-photos {
		margin-bottom: 24px;
	}
	.product-main-slide {
		border-width: 0;
	}
	.product-image-main[data-size=landscape] .image-wrap {
		border-radius: 8px;
		overflow: hidden;
	}
	.product-single__title {
		font-size: 32px;
		font-weight: 400;
		line-height: 40px;
	}
	.product-single__header--mobile {
		margin-bottom: 0;
	}
	.product-single__meta {
		margin-top: calc(var(--gutter) / 3);
	}
}
/**
 * Footer
 */
.footer__newsletter .newsletter__input-group input[type="email"] {
    max-width: 423px;
    width: 432px;
    border-radius: 50px;
    padding: 12px 24px;
	border: 1px solid var(--colorBorder);
}

.input-group .input-group-btn:last-child .btn {
	padding: 12px 48px;
	font-family: var(--typeBaseMedium);
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
}

.footer__title {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

.footer__section--bottom {
	padding: 32px 0px;
}

.footer__section--bottom span {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: capitalize;
}

.footer__title svg {
	width: 12px;
	transition: all 0.5s ease-out;
}

.footer__menu li a {
	font-size: 14px;
}

@media only screen and (min-width: 1200px) {
	.footer__block {
		flex: 0 1 13%;
		max-width: 216px;
	}

	.footer__blocks {
		gap: 96px;
	}
}

@media only screen and (max-width: 768px) { 
	.input-group .input-group-btn:last-child .btn {
		padding: 10px 24px;
    	font-size: 14px;
	}

	.input-group .input-group-btn:last-child .btn .form__submit--large {
		display: block;
	}

	.input-group .input-group-btn:last-child .btn .form__submit--small {
		display: none;
	}

	.footer__section {
		padding: 24px 0;
	}

	.footer__base-links {
		text-align: center;
	}

	.footer__block .footer__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}

	.js-dropdown .footer__menu {
		height: 0px;
		opacity: 0;
		overflow: hidden;
		transition: all 0.5s ease-out;
	}

	.active.js-dropdown .footer__menu {
		height: auto;
		opacity: 1;
		margin-bottom: 24px;
	}

	div.active[data-type="contact"] .footer__title svg,
	div.active[data-type="menu"] .footer__title svg {
		transform: rotate(-180deg);
	}

	.footer__blocks {
		gap: 5px;
	}

	.footer__title {
		font-size: 18px;
	}

	.footer__block--mobile {
		max-width: 100%;
		flex: 1 1 100%;
	}

	.footer__block--social .footer__title {
		opacity: 0;
		display: none;
	}

	.footer__social {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 48px;
		margin-top: 24px;
	}

	.footer__block--contact .footer__mobile-section {
		border: none;
		padding-top: 0;
	}
	
	.footer__subscribe p {
		font-size: 14px;
	}
}
