/**
 * @TODO: Header styles
 */
body::before,
body::after {
	content: '';
	display: block;
	width: 100%;
	height: 8px;
	background: url('./bg-line-body.jpeg') top left no-repeat;
	background-size: cover;
}

.announcement-slider__content p {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.site-header__element.site-header__element--top {
	background-color: #FEFDF2;
}

.header-item--search > is-land {
	display: block;
	width: 100%;
}

@media screen and (min-width: 1200px) {
	.header-item--search {
		margin-left: 110px;
	}
}

@media screen and (min-width: 1400px) {
	.site-navigation--below {
		display: flex;
		justify-content: space-between;
	}
	.site-navigation--below > .site-nav__item > .site-nav__link {
		padding-right: 0;
	}
}

@media screen and (max-width: 768px) {
	.site-nav__link--icon .icon {
		width: 20px;
		height: 20px;
	}
}

.header-item--search .search__input {
	padding-top: 12px;
	padding-bottom: 12px;
	color: var(--color-primary-text) !important;
	border-color: #DCDBCF;
	background-color: transparent;
}

.header-item--search .search__input::-ms-input-placeholder,
.site-header__element--sub .search__input::-ms-input-placeholder,
.footer__newsletter .newsletter__input-group input[type="email"]::-ms-input-placeholder { 
	color: var(--color-primary-text) !important;
	font-family: var(--typeBaseMedium);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	opacity: 1;
}

.header-item--search .search__input::placeholder,
.site-header__element--sub .search__input::placeholder,
.footer__newsletter .newsletter__input-group input[type="email"]::placeholder {
	color: var(--color-primary-text) !important;
	font-family: var(--typeBaseMedium);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	opacity: 1
}

.header-item--search .btn--search path {
    stroke: #000 !important;
	stroke-width: 0;
}

.header-item--icons .site-nav__link {
	color: var(--color-primary-text);
}

.site-nav__link--icon .icon path {
	fill: var(--color-primary-text);
    stroke-width: 0px;
    stroke: currentColor;
}

.site-nav__link--icon-account .icon {
	width: 24px;
	height: 24px;
}

.site-nav__link--icon-account .icon path {
	stroke: inherit;
}

.site-nav__close-cart .site-nav__link--icon .icon path {
	stroke-width: 3px;
}

.header-item--icons .site-nav__link {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.header-item--icons .site-nav__icons .mobile-nav-trigger svg path, 
.header-item--icons .site-nav__icons .mobile-nav-trigger svg rect,
.header-item--compress-nav  svg rect{
	fill: inherit;
    stroke-width: 2px;
    stroke: unset;
}

.site-header__element--sub[data-type="search"] .btn--search path {
	stroke: var(--color-primary-text) !important;
	stroke-width: 0px;
}

/**
 * @mega-menu
 */
.megamenu__cols {
	flex: 1 1 100%;
	columns: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.megamenu__col .megamenu__col-title a {
	font-size: calc(var(--typeBaseSize) + 0px);
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 16px;
	padding: 0;
}
.megamenu__col .site-nav__dropdown-link {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	padding: 5px 0;
}
.megamenu__wrapper {
	flex-direction: column;
}
.link-collection--all {
	width: 100%;
	text-align: center;
	padding-bottom: 48px;
}
.link-collection--all > a {
	padding: 16px 48px;
	border-radius: 999px;
}
.link-collection--all > a:hover {
	color: #ffffff;
}
.header-item--icons.header-item--icons-left {
	justify-content: flex-start;
}
.header-item--icons.header-item--icons-left .site-nav__link {
	padding-left: 0px;
}
.slide-nav__image {
	display: none;
}
.slide-nav__image+span {
	padding-left: 0px;
}
@media screen and (min-width: 1199px) {
	.megamenu__col {
		width: calc(100%/5);
	}
}
@media screen and (min-width: 991px) and (max-width: 1198px) {
	megamenu__col {
		width: calc(100%/4);
	}
}
@media screen and (min-width: 768px) and (max-width: 990px) {
	.megamenu__col {
		width: calc(100%/3);
	}
}
@media screen and (max-width: 767px) {
	.site-header__element--sub,
	.search__input {
		background-color: #FEFDF2;
	}
	#MobileNavFooter .js-dropdown .footer__menu {
		height: auto;
		opacity: 1;
	}
	#MobileNavFooter .footer__block .footer__title {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
	}
	#MobileNavFooter .footer__blocks .footer__block + .footer__block {
		margin-top: 24px;
	}
}

/**
 * SlideShow
 */
.hero-natural--minimal-arrow .hero[data-arrows=true] .flickity-previous {
    left: 48px;
}

.hero-natural--minimal-arrow .hero[data-arrows=true] .flickity-prev-next-button {
    top: 50%;
    bottom: auto;
}

.hero .slideshow__slide .hero__link .btn {
	font-size: 16px;
	font-family: var(--typeBaseMedium);
	font-weight: 700;
	text-transform: capitalize;
}

@media screen and (max-width: 768px) {
	.hero-natural--minimal-arrow .hero[data-arrows=true] .flickity-prev-next-button {
		display: none;
	}
	.hero .slideshow__slide .hero__animation-contents {
		font-size: 16px;
	}
}
/**
 * Collection-Lists
 */
.collection--with-text-overlap .image-wrap img:not([role=presentation]){
	padding: 0;
}
.collection--with-text-overlap .collection--info {
	position: absolute;
	width: 100%;
}
.collection--with-text-overlap[data-view=xsmall] .grid-item, 
.collection--with-text-overlap[data-view=small] .grid-item, 
.collection--with-text-overlap[data-view=medium] .grid-item {
	margin-bottom: 0;
}
.collection--with-text-overlap .collection-item {
	margin-bottom: 0;
}
.collection-item__title {
	color: #FDFDF6;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 16px;
}
.collection--info p {
	color: #FDFDF6;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.pagination .btn {
	background-color: #28282C;
}
@media only screen and (min-width: 768px) {
	.index-section.collection-lists {
		margin-top: 48px;
	}
	.collection--with-text-overlap .collection--info {
		bottom: 48px;
	}
}
@media only screen and (max-width: 767px) {
	.index-section.collection-lists {
		margin-top: 24px;
	}
	.collection--with-text-overlap[data-view=xsmall] .grid-item, 
	.collection--with-text-overlap[data-view=small] .grid-item, 
	.collection--with-text-overlap[data-view=medium] .grid-item {
		flex: 0 0 100%;
		margin-bottom: 24px;
	}
	.collection--with-text-overlap .collection--info {
		bottom: 24px;
	}
	.collection-item__title {
		font-size: 24px;
	}
	.filter-wrapper ul > li {
		font-size: 14px;
	}
}
/**
 * @Arrivals Collection
 */
.feature-collection .section-header__link {
	font-family: var(--typeBaseMedium);
	color: var(--colorLinks);
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
[dir="ltr"] [data-grid-style="simple"] .new-grid:not([data-view="list"]) .grid-item__meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
	margin-right: 0;
	height: inherit;
	flex: 1;
}
.grid-product__title {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.grid-product__price {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.feature-collection .section-header__title {
	font-size: 24px;
}
.product-grid-item .grid-item__link {
	display: flex;
    width: 100%;
    height: inherit;
    flex-direction: column;
    justify-content: space-around;
}
.grid-item__meta-main {
	height: inherit;
	width: 100%;
}
@media screen and (min-width: 769px) {
	.grid-item__meta {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 767px) {
	.feature-collection .section-header__title {
		font-size: 20px;
	}
	[dir="ltr"] [data-grid-style="simple"] .new-grid:not([data-view="list"]) .grid-item__meta {
		gap: 16px;
	}
	.grid-item__meta {
		margin: 16px;
		margin-bottom: 0px;
	}
	.grid-product__title {
		font-size: 14px;
		line-height: 20px;
	}
	.grid-product__price {
		font-size: 14px;
		line-height: 20px;
	}
	.page-width--flush-small .scrollable-grid--small {
		margin-left: -7.5px;
	}
	.grid-item {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
}
/**
 * Promo Grid Item
 */
.promo-grid .rte--em {
	font-family: var(--typeBaseMedium);
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 16px;
}
.promo-grid .enlarge-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 24px;
}
.promo-grid .rte--strong {
	margin-bottom: 16px;
	font-weight: 400;
}
.promo-grid>.flex-grid>.flex-grid__item--50 .btn {
	font-family: var(--typeBaseMedium);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	padding: 16px 48px;
}
@media screen and (max-width: 767px) {
	.promo-grid .enlarge-text {
		margin-bottom: 16px;
	}
	.promo-grid>.flex-grid>.flex-grid__item--50 .btn {
		font-size: 14px;
		padding: 10px 24px;
	}
	.type-advanced .horizontal-left .rte--block {
		padding-left: 0;
	}
}
/**
 * Collection Content
 */
.collection-grid__wrapper .grid-item {
	margin-bottom: 32px;
}
.no-bullets {
    max-height: 236px;
    height: 100%;
    overflow: auto;
}
.collection-related .promo-grid__container {
	display: flex;
    flex-direction: column;
}
.collection-related .image-wrap img:not([role=presentation]) {
	height: 100%;
}
.collection-related .image-wrap {
	border-radius: 50%;
}
.promo-image-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: inherit;
	justify-content: space-between;
	gap: 16px;
}
.collection-related--title {
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}
.collection-related .flex-grid {
	flex-wrap: nowrap;
}
.tag--remove .btn {
	color: #FDFDF6;
}
.tag--remove svg path {
	stroke: #FDFDF6;
}
.collapsible-trigger__layout--inline>span {
	font-size: 20px;
}
.collapsible-content--all.is-open .tag__text,
.price-range__display-wrapper > span{
	font-size: 14px;
}
div[data-collection-count] {
	font-size: 14px;
}
[data-view=list] .grid-item__link {
	flex-direction: row;
}
[data-view=list] .grid-product__image-wrap {
	margin: calc(var(--productTileMargin) / 8);
    margin-right: 0;
    margin-left: 0;
}

[data-view=list] .grid-product__price--current {
	font-size: 16px;
}

@media screen and (min-width: 768px) {
	.collection-grid__wrapper .grid-item {
		margin-bottom: 48px;
	}
	.collection-grid__wrapper [data-view=list] .grid-item {
		margin-bottom: 0px;
	}
	.collection-content {
		padding-top: 48px;
	}
	.collection-related {
		margin-bottom: 32px;
	}
	.collection-filter__item--count {
		font-size: 14px;
	}
}
@media screen and (max-width: 767px) {
	.collection-content {
		padding-top: 16px;
	}
	.collection-grid__wrapper [data-view=list] .grid-item {
		margin-bottom: 12px;
	}
	.collapsible-trigger__layout--inline>span {
		font-size: 18px;
	}
	.collection-related--title {
		font-size: 13px;
	}
	[data-view=list] .grid-product__price--current {
		font-size: 14px;
	}
}
/**
 * Product Page
 */
.product-single__title {
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
	margin-bottom: 0;
}
.product-block {
	margin-bottom: 24px;
}
.product-block--header {
	margin-bottom: 16px;
}
.product-description {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
label:not(.variant__button-label):not(.text-label), .label {
	font-size: 16px;
	font-weight: 400;
}
.variant-input-wrap input[type=radio]:checked+label {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.variant-input-wrap label {
    padding: 8px 16px;
    border-radius: 8px;
}
.add-to-cart.btn--secondary {
	border-color: var(--colorBgButtonSecondary);
	color: #FFFFFF;
    text-transform: capitalize;
}
.shopify-payment-button .shopify-payment-button__button--unbranded {
	color: #FFFFFF;
	text-transform: capitalize;
}
.product__photo-zoom svg path {
	stroke: #FFFFFF;
}
.page-content--product .product__photos {
	margin-top: 0;
}
.js-qty__wrapper {
	max-width: 140px;
}
.js-qty__wrapper .js-qty__adjust {
	min-width: 24px;
	padding: 0 6px;
}
.js-qty__adjust .icon-minus {
	width: 15px;
}
.js-qty__adjust .icon-plus {
	width: 20px;
    height: 35px;
}
.js-qty__wrapper .js-qty__adjust--minus {
	padding-left: 16px;
}
.js-qty__wrapper .js-qty__adjust--plus {
	padding-right: 16px;
}
.js-qty__adjust .icon path {
	fill: currentColor;
    stroke: inherit;
    stroke-width: 0;
}
.product-block--tab .label {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}
.scrollable-grid--small {
	scrollbar-width: thin; 
}
.scrollable-grid--small::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 3px;
}
.scrollable-grid--small::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .5);
	box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
product-recommendations .section-header {
	margin-bottom: 12px;
}
product-recommendations .section-header__title {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}
.shopify-payment-button .shopify-payment-button__button--unbranded:hover:not([disabled]) {
	color: #FFFFFF;
}
.product-single__sku {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}
/**
 * Size
 */
.bss-po-option-set .po-stack--vertical {
	margin-left: 0px;
}
.bss-po-option-set .po-stack--vertical {
	flex-direction: row;
}
.po-option--type-button__inline {
	width: 100%;
}
.po-stack--vertical label {
	font-size: 16px !important;
	color: #28282C !important;
	font-weight: 400;
	line-height: 24px;
}
.po-option--type-swatch__inline, 
.po-option--type-button__inline {
	margin-left: 0px !important;
}
.bss-po-option-set .po-selected-swatch {
	margin-left: 10px;
}
.po-option__select-quantity .po-option__button-media{
    padding: 8px 16px;
    border-radius: 8px;
	background: transparent !important;
	border: 2px solid var(--colorBorder) !important;
}
.bss-po-option-set .po-option__value:hover input ~ .po-option__button-media,
.bss-po-option-set .po-option__value input:checked ~ .po-option__button-media {
	border: 2px solid #28282C !important;
	color: #28282C !important;
}
.bss-po-option-set .po-option__value input:checked ~ .po-option__button-media,
.bss-po-option-set .po-option__value:hover input ~ .po-option__button-media .po-option__button-value,
.bss-po-option-set .po-option__value:hover input:checked ~ .po-option__button-media .po-option__button-value {
	color: #28282C !important;
}
.btn--full.add-to-cart {
	font-size: calc(var(--typeBaseSize) + 0px);
}
.btn--full.add-to-cart + .btn--full.add-to-cart {
	display: none;
}
@media only screen and (min-width: 769px) {
	.product__price {
        font-size: calc(var(--typeBaseSize) + 8px);
    }
	.product-image-main {
		border-radius: 8px;
		overflow: hidden;
	}
	.template-product .product-full-width {
		margin-top: 72px;
	}
	.product-recommendations-placeholder .scrollable-grid--small {
		overflow-x: auto;
		padding-top: 12px;
		flex-wrap: nowrap;
	}
	.product-recommendations-placeholder [data-view=medium] .grid-item {
		flex: 0 0 calc(100% / 5);
	}
}
@media screen and (max-width: 768px) {
	[data-has-slideshow=false] .product__main-photos,
	.product__main-photos {
		margin-bottom: 24px;
	}
	.product-main-slide {
		border-width: 0;
	}
	.grid--product-images--partial .product-main-slide {
		width: 90%;
	}
	.product-image-main[data-size=square] .image-wrap,
	.product-image-main[data-size=landscape] .image-wrap {
		border-radius: 8px;
		overflow: hidden;
	}
	.product-single__title {
		font-size: 32px;
		font-weight: 400;
		line-height: 40px;
	}
	.product-single__header--mobile {
		margin-bottom: 0;
	}
	.product-single__meta {
		margin-top: calc(var(--gutter) / 3);
	}
	.product-block--tab .label {
		font-size: 18px;
	}
	.product-single__header--mobile {
		margin-top: 16px;
	}
}
/**
 * Pagiantions
 */
.pagination svg path {
	fill: #FFFFFF;
}
/**
 * Quick Icons
 */
.grid-item quick-add svg path {
    fill: #ffffff;
    stroke: #FFFFFF;
    stroke-width: 0;
}
.grid-item quick-shop svg path {
	stroke: #FFFFFF;
}
/**
 * Cart
 */
.cart__item-name {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.site-header__cart .cart__item {
	grid-column-gap: 16px;
	border-bottom: 1px solid #DCDBCF;
}
.cart__image img {
	object-fit: cover;
	border-radius: 8px;
}
.cart__item--variants {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}
.cart__item .cart__item-quantity .js-qty__num{
	padding: 4px 8px;
	min-height: 30px;
}
.cart__item .js-qty__wrapper {
	max-width: 82px;
}
.cart__item .js-qty__wrapper .js-qty__adjust--minus {
	padding-left: 8px;
}
.cart__item .js-qty__wrapper .js-qty__adjust--plus {
	padding-right: 8px;
}
.cart__item--subtotal {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.cart__item-row .btn {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.cart__item-row--footer {
	padding: 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px; 
}
.cart__item-row {
	margin-bottom: 16px;
}
.cart__item-price .cart__price {
	visibility: visible;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.cart__item .js-qty__adjust .icon-plus {
    width: 19px;
}
.cart__item .js-qty__adjust .icon-minus {
	width: 12px;
}
.cart__page-col:last-child {
	border-radius: 8px;
	overflow: hidden;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator, 
.cart__page-col .docapp-single-shipping-calculator .docapp-shipping-calculator {
	padding: 0 !important;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input, 
.cart__page-col .docapp-single-shipping-calculator .docapp-shipping-calculator--input {
	padding: 0 !important;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input, 
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type="text"].docapp-shipping-calculator--input-city, 
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type="text"].docapp-shipping-calculator--input-zip,
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input select.docapp-shipping-calculator--select, 
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--button, 
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates {
	border-radius: 8px !important;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input select.docapp-shipping-calculator--select, 
.cart__page-col .docapp-single-shipping-calculator .docapp-shipping-calculator--input select.docapp-shipping-calculator--select {
	padding: 5px 25px 5px 10px !important;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type=text].docapp-shipping-calculator--input-zip {
	padding: 5px 10px !important;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--button, 
.cart__page-col .docapp-single-shipping-calculator .docapp-shipping-calculator--button {
    padding: 8px 48px !important;
    border-radius: 999px !important;
	border-width: 0px;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates-title {
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate, 
.cart__page-col .docapp-single-shipping-calculator .docapp-shipping-calculator--rates .docapp-shipping-rate {
	margin-bottom: 8px;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-rate, 
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-rate div, 
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-rate label {
	color: #28282C !important;
	font-size: 14px;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input {
	margin-bottom: 16px;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates, 
.cart__page-col .docapp-single-shipping-calculator .docapp-shipping-calculator--rates {
	margin: 0;
	padding: 16px;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates {
	background-color: #FDFDF6 !important;
}
.cart__page-col  .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate-name label, 
.cart__page-col  .docapp-single-shipping-calculator .docapp-shipping-calculator--rates .docapp-shipping-rate-name label {
	display: flex;
    align-items: center;
    gap: 5px;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate-name input[type=radio] {
	height: 0 !important;
	width: 0 !important;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate-name input[type=radio],
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate-name label {
	cursor: pointer;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate label {
	position: relative;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate label::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #75757C;
	border-radius: 50%;
}

.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate.docapp--selected label::before {
	border: 7px solid #28282C;
}
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates-title {
	font-size: 16px !important;
}
.cart__item {
	grid-template-columns: 100px auto auto;
    grid-column-gap: 16px;
}
.cart__item-remove a {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	border-bottom: 1px solid #28282C;

}
.scrollable-grid::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
/* Track */
.scrollable-grid::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* Handle */
.scrollable-grid::-webkit-scrollbar-thumb {
	background: #28282C; 
	border-radius: 20px;
	border: 3px solid 28282C;
}

/* Handle on hover */
.scrollable-grid::-webkit-scrollbar-thumb:hover {
	background: #555555; 
}
.btn--secondary.cart__continue {
	background-color: #FFFFFF;
	color: #28282C;
	border: 1px solid #DCDBCF;
}
.btn--secondary.cart__continue:hover {
	color: #28282C;
}
.cart__item-row .btn {
	padding: 16px 48px;
}
@media screen and (min-width: 769px) {
	.cart__page-col:first-child {
		flex: 1 1 60%;
        padding-right: 48px;
	}
	.cart__page-col:last-child {
		flex: 0 1 40%;
        padding: 48px;
	}
	.cart__item-row.cart-recommendations {
		margin-top: 48px;
	}
	.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator {
		gap: 8px;
	}
}
@media screen and (max-width: 767px) {
	.cart__page-col .docapp-cart-with-shipping-summary, 
	.cart__page-col .docapp-single-shipping-calculator {
		margin-top: 24px;
	}
	.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates {
		background-color: #F3F2E9 !important;
	}
	.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates-title {
		font-size: 14px !important;
	}
	.cart__item-row.cart-recommendations {
		margin-top: 24px;
	}
}
/**
 * Search 
 */
.predictive-search-results {
	padding-top: 24px;
}
.predictive-search-results h3 {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	padding-bottom: 0;
	border-bottom: 0px;
	margin-bottom: 8px;
}
.results--products #predictive-search-products {
	margin-bottom: 8px;
}
.results--queries > ul li > a{
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 400;
}
.results li {
	padding: 0px 0px 8px 0px;
}
.results__search-btn {
	border-width: 0px;
    border-top: 1px solid #DCDBCF;
    padding-top: 19px;
    padding-bottom: 24px;
    font-size: 16px;
    border-radius: 0px;
}
.predictive__screen {
	background: rgb(40 40 44 / 33%);
}
.header-item--search .is-active .search__input,
.main-search-page .search__input-wrap .search__input {
	background: #ffffff;
}
predictive-search .btn--close-search .icon path {
	stroke: #ffffff !important;
}
.search__results {
	border-radius: 8px;
}
.section-header__title {
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
	margin-top: 37px;
}
.main-search-page .search__input-wrap {
	max-width: 660px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 768px) {
	.grid__item--sidebar::-webkit-scrollbar {
		width: 5px;
	}
	.main-search-page .collection-content {
		padding-top: 0;
		border-width: 0px;
	}
	.search__results {
		max-width: calc(660px - 44px);
	}
}
@media screen and (min-width: 1280px) {
	.main-search-page [data-view=medium] .grid-item {
		flex: 0 0 calc(100% / 4);
	}
}
@media screen and (max-width: 767px) {
	.predictive-search-results h3 {
		font-size: 18px;
	}
	.section-header {
		text-align: center;
	}
	.section-header__title {
		margin-top: 0px;
		font-size: 32px;
		line-height: 40px;
	}
	.section-header > p.medium-up--hide {
		margin-top: 0px;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px; 
	}
}
/**
 * FAQ - Page
 */
.index-section--faq {
	margin-bottom: 10px;
}
.template--faq > .index-section:not(.index-section--sub-product):first-child {
	padding-top: 30px;
	padding-bottom: 72px;
	margin-bottom: 0;
}
.index-section--faq {
	margin-top: 40px;
}
@media screen and (max-width: 768px) {
	.template--faq>.index-section:not(.index-section--sub-product):first-child {
		padding-top: 10px;
		padding-bottom: 40px;
	}
	.index-section--faq {
		margin-top: 20px;
	}
	.template--faq .collapsible-content__inner {
		font-size: 14px;
	}
	.template--faq .collapsible-content__inner {
		padding-left: 0px;
		padding-right: 0px;
	}
}
/**
 * Blog - Articles
 */
[data-section-type="blog"] .section-header__title {
	color: var(--colorBlackText);
	font-weight: 400;
	line-height: 72px;
}
.grid-article__tags .article-tag,
.tag--inline .article-tag {
	color: var(--colorBlackText);
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	border-radius: 8px;
	border: 1px solid #DCDBCF;
	padding: 4px 8px;
}
.grid-article[data-style=large] .article__title {
	font-size: calc(var(--typeBaseSize) + 8px);
	font-weight: 400;
	line-height: 32px;
	color: var(--colorBlackText);
}
.grid-article[data-style=medium] .article__title {
	font-size: calc(var(--typeBaseSize) + 4px);
	font-weight: 400;
	line-height: 28px;
	color: var(--colorBlackText);
}
.grid-article[data-style=large] .article__sub-meta>span,
.grid-article[data-style=medium] .article__sub-meta>span {
	color: var(--colorTextBody);;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}
.grid-article[data-style=compact] .article__title {
	color: var(--colorBlackText);
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.article__sub-meta>span {
	color: var(--colorTextBody);
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}
.blog-layout__sidebar .theme-block > h4 {
	color: var(--colorBlackText);
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}
.theme-block .grid-item {
	padding-left: 0;
	padding-right: 0;
}
.theme-block .product-grid-item .grid-item__meta {
	margin-left: 0px;
	margin-right: 0px;
}
.theme-block .grid-item__meta-secondary {
	margin-top: 24px;
}
.blog-layout .feature-collection [data-view=large] .grid-item {
	padding-left: 0;
	padding-right: 0;
}
.blog-layout .feature-collection .new-grid {
	flex-wrap: wrap;
	gap: 24px;
	margin-left: 2px;
}
.blog-layout .feature-collection .section-header__title {
	margin-top: 0px;
	text-align: left;
}
.grid-article__tags {
	height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
}
.grid-article__tags .article-tag {
	transform: translateY(-70%);
}
.grid-article__meta {
	margin-top: 24px;
}
.theme-block .grid-article__meta {
	margin-top: 0;
}
@media screen and (min-width: 768px) {
	.blog-layout .feature-collection [data-view=large] .grid-item {
		flex: 0 0 calc(100%/3);
	}
	[data-section-type="blog"] .section-header__title {
		text-align: left;
		font-size: 64px;
	}
	.theme-block .product-grid-item .grid-item__meta {
		margin-left: 0px;
		margin-right: 0px;
	}
}
@media screen and (min-width: 1199px) {
	.blog-layout .feature-collection [data-view=large] .grid-item {
		flex: 0 0 calc(100%/5);
	}
}
@media screen and (min-width: 1280px) {
	.blog-layout .feature-collection [data-view=large] .grid-item {
		flex: 0 0 calc(100%/5 - 24px);
	}
}
@media screen and (max-width: 767px) {
	[data-section-type="blog"] .section-header__title {
		font-size: 36px;
	}
	.blog-layout>div:not(.blog-layout__main):not(.blog-layout__sidebar) {
		margin-top: 24px;
	}
	.blog-layout .feature-collection .new-grid {
		flex-wrap: nowrap;
		overflow-y: scroll;
	}
	.grid-article,
	.grid-article[data-style=medium] {
		margin-bottom: 24px;
	}
	.grid-article__meta {
		margin-top: 0;
	}
	.grid-article[data-style=medium] .grid-article__image {
		flex: 0 0 45%;
	}
	.grid-article[data-style=medium] .grid-article__meta {
        flex: 0 0 55%;
        padding-left: 15px;
    }
	.grid-article[data-style=medium] .article__title {
		font-size: calc(var(--typeBaseSize) + 2px);
		line-height: 24px;
	}
	.grid-article[data-style="large"] .grid-article__meta {
        margin-top: 24px;
    }
}
/**
 * Article Tags
 */
.article-tag {
	color: var(--colorBlackText);
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	padding: 4px 8px;
	border-radius: 8px;
	border: 1px solid #DCDBCF;

}

.template-article .article-tag__wrapper {
	margin-bottom: 0;
}

.template-article .section-header .section-header__title {
	text-align: left;
	color: var(--colorBlackText);
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
	margin-top: 16px;
}
.capitalize-first-letter h3[data-mce-fragment="1"] {
	font-size: 16px;
}
.capitalize-first-letter {
	color: var(--colorBlackText);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
a.return-link:hover {
	color: #FFFFFF;
}
.return-link {
	margin-top: 30px;
	border: 1px solid;
    border-color: var(--colorBgButtonSecondary);
    color: var(--colorTextButtonSecondary);
    background-color: var(--colorBgButtonSecondary);
}
@media screen and (min-width: 768px) {
	.return-link {
		margin-top: 50px;
	}

	.template-article .section-header {
		margin-bottom: 48px;
	}
}
@media screen and (max-width: 767px) {
	.template-article .section-header .section-header__title {
		font-size: 32px;
		line-height: 40px;
	}
	.section-header .article__sub-meta {
		text-align: left;
		margin-top: 16px;
	}
}
/**
 * Footer
 */
.footer__newsletter .newsletter__input-group input[type="email"] {
    max-width: 423px;
    width: 432px;
    border-radius: 50px;
    padding: 12px 24px;
	border: 1px solid var(--colorBorder);
}

.input-group .input-group-btn:last-child .btn {
	padding: 12px 48px;
	font-family: var(--typeBaseMedium);
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
}

.footer__title {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

.footer__section--bottom {
	padding: 32px 0px;
}

.footer__section--bottom span {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: capitalize;
}

.footer__title svg {
	width: 12px;
	transition: all 0.5s ease-out;
}

.footer__menu li a {
	font-size: 14px;
}

@media only screen and (min-width: 1200px) {
	.footer__block {
		flex: 0 1 13%;
		max-width: 216px;
	}

	.footer__blocks {
		gap: 96px;
	}
}

@media only screen and (max-width: 768px) { 
	.input-group .input-group-btn:last-child .btn {
		padding: 10px 24px;
    	font-size: 14px;
	}

	.input-group .input-group-btn:last-child .btn .form__submit--large {
		display: block;
	}

	.input-group .input-group-btn:last-child .btn .form__submit--small {
		display: none;
	}

	.footer__section {
		padding: 24px 0;
	}

	.footer__base-links {
		text-align: center;
	}

	.footer__block .footer__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}

	.js-dropdown .footer__menu {
		height: 0px;
		opacity: 0;
		overflow: hidden;
		transition: all 0.5s ease-out;
	}

	.active.js-dropdown .footer__menu {
		height: auto;
		opacity: 1;
		margin-bottom: 24px;
	}

	div.active[data-type="contact"] .footer__title svg,
	div.active[data-type="menu"] .footer__title svg {
		transform: rotate(-180deg);
	}

	.footer__blocks {
		gap: 5px;
	}

	.footer__title {
		font-size: 18px;
	}

	.footer__block--mobile {
		max-width: 100%;
		flex: 1 1 100%;
	}

	.footer__block--social .footer__title {
		opacity: 0;
		display: none;
	}

	.footer__social {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 48px;
		margin-top: 24px;
	}

	.footer__block--contact .footer__mobile-section {
		border: none;
		padding-top: 0;
	}
	
	.footer__subscribe p {
		font-size: 14px;
	}
}
