.btn--white {
    background-color: var(--color-white);
    color: var(--color-grey-dark);
    border-color: var(--colorBorder);
}
.text-underline-link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.text-underline-link:hover {
    color: var(--colorLinkHover);
}
.customer-page h1,
.customer-page .h1 {
    font-size: 64px;
    line-height: 72px;
}

.customer-page h2,
.customer-page .h2 {
    font-size: 40px;
    line-height: 48px;
}

.customer-page h3,
.customer-page .h3 {
    font-size: 32px;
    line-height: 40px;
}

.customer-page h4,
.customer-page .h4 {
    font-size: 24px;
    line-height: 32px;
}
.customer-page h5,
.customer-page .h5 {
    font-size: 20px;
    line-height: 28px;
}

.customer-page h6,
.customer-page .h6 {
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 768px) {
    .customer-page h1,
    .customer-page .h1 {
        font-size: 36px;
        line-height: 44px;
    }

    .customer-page h2,
    .customer-page .h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .customer-page h3,
    .customer-page .h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .customer-page h4,
    .customer-page .h4 {
        font-size: 20px;
        line-height: 28px;
    }
    .customer-page h5,
    .customer-page .h5 {
        font-size: 18px;
        line-height: 24px;
    }

    .customer-page h6,
    .customer-page .h6 {
        font-size: 14px;
        line-height: 20px;
    }
}
/* Account page */
.no-margin-bottom {
    margin-bottom: 0;
}
.page-content.customer-page {
    padding-top: 72px;
    padding-bottom: 72px;
}

.customer-page a,
.button-link {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 14px;
    line-height: 20px;
}

.customer-page .text-link:hover {
    color: var(--colorLinkHover);
}

@media only screen and (max-width: 768px) {
    .page-content.customer-page {
        padding-top: 24px;
        padding-bottom: 48px;
    }
}

.customer-page .btn,
.customer-page .btn.btn--secondary {
    color: var(--colorTextButtonSecondaryCustomer);
    background-color: var(--colorBgButtonSecondaryCustomer);
    min-height: 56px;
    font-family: var(--typeHeaderPrimary);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
}

.customer-page .form-vertical .btn {
    width: 100%;
}

.customer-page .section-header__title {
    font-size: 40px;
    line-height: 1.2;
}

.customer-page .form-vertical p {
    font-size: 14px;
    line-height: 1.4285;
}

@media only screen and (max-width: 768px) {
    .customer-page .section-header__title {
        font-size: 32px;
        line-height: 1.25;
    }
}

input,
textarea,
select {
    background-color: var(--backgroundInput);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

.customer-page .section-header {
    margin-bottom: 24px;
}

.info-reset-password {
    margin-top: 16px;
}

.logout-link a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    margin-top: 8px;
}

.logout-link span {
    line-height: 0;
}

.logout-link svg {
    width: 16px;
    height: 16px;
}

.logout-link a:hover svg {
    color: var(--colorLinkHover);
}

.customer-page.main-account .section-header {
    margin-bottom: 32px;
}

.main-account table {
    border-radius: 8px;
}

@media screen and (min-width: 769px) {
    .main-account table th,
    .main-account table td {
        border-bottom: 1px solid var(--colorBorder);
    }
}

.main-account table tr:last-child td {
    border-bottom: 0;
}

.main-account table tfoot tr:first-child td {
    border-top: 1px solid var(--colorBorder);
}

.main-account table thead tr th:first-child {
    border-top-left-radius: 8px;
}

.main-account table thead tr th:last-child {
    border-top-right-radius: 8px;
}

.main-account table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.main-account table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.main-account table thead tr th {
    text-transform: uppercase;
    font-family: var(--typeHeaderPrimary);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.main-account table tbody tr td[data-label="Order"] a {
    background-color: var(--color-white);
    padding: 10px 25px;
    border: 1px solid var(--colorBorder);
    border-radius: 999px;
    font-family: var(--typeHeaderPrimary);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}

.main-account table tbody tr td[data-label="Product"] a {
    font-size: 16px;
    line-height: 1.5;
}

.main-account table tbody tr td[data-label="Order"] a:hover {
    border-color: var(--color-grey-dark);
    color: var(--color-grey-dark);
}

.order-history-title {
    padding-bottom: 16px;
    margin-bottom: 8px;
}

.main-account table tfoot td {
    font-family: var(--typeHeaderPrimary);
    font-weight: 700;
    text-transform: uppercase;
}

@media only screen and (max-width: 1023px) and (min-width: 769px) {
    .main-account table td {
        font-size: calc(var(--typeBaseSize) * 0.875);
    }
    .account-content .grid__item:first-child {
        width: 100%;
    }
    .main-account table tbody tr td[data-label="Product"] a {
        font-size: 14px;
        line-height: 1.4;
    }
}

@media only screen and (max-width: 1023px) {
    .account-content .grid__item:not(:first-child) {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .order-history-title {
        border-bottom: 1px solid var(--colorBorder);
    }
}

/* Addresses page */
.addresses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}

.addresses-list .addresses-item {
    width: calc(50% - 12px);
    border: 1px solid var(--colorBorder);
    border-radius: 8px;
    padding: 24px;
}

.addresses-item {
    position: relative;
}

.default-badge {
    position: absolute;
    right: 24px;
    top: 24px;
    background-color: var(--color-grey-dark);
    color: var(--color-white);
    padding: 4px 8px;
    text-transform: uppercase;
    font-family: var(--typeHeaderPrimary);
    font-size: 12px;
    line-height: 18px;
    border-radius: 8px;
    font-weight: 700;
}

.addresses-item p {
    margin-bottom: 24px;
}

.addresses-item p:last-child,
.addresses-item p.address-action,
.addresses-item p.action-cancel {
    margin-bottom: 0;
}

.addresses-item .address-edit-toggle {
    padding-left: 0;
}

.return-text-link {
    margin-top: 8px;
    display: block;
}

.address-new-form .grid {
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.address-new-form .grid .grid__item {
    width: 100%;
}

.input-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-checkbox label {
    margin-bottom: 0;
}

.customer-page .form-vertical.address-new-form .btn {
    width: auto;
}

p.addresses-cancel-link {
    margin-bottom: 24px;
}

.addresses-item .form-vertical h4 {
    margin-top: 24px;
}

@media screen and (max-width: 768px) {
    .addresses-list .addresses-item {
        width: 100%;
    }
    .main-addresses .section-header--with-link {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .main-addresses .section-header--with-link .address-new-toggle {
        width: 100%;
    }
}

.rich__text--content p {
    margin-bottom: 16px;
}

.main-form-contact select {
    width: 100%;
}

.main-form-contact textarea {
    height: 92px;
}

.main-form-contact .btn {
    padding: 16px 48px;
}

.rich-text-section .rich-text-page-content img {
    display: inline;
}

.block-download--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 0;
    border-top: 1px solid var(--colorBorder);
}

.block-download--item:last-child {
    border-bottom: 1px solid var(--colorBorder);
}

.block-download--item .btn {
    margin-left: 8px;
}

.block-download--item a.btn:hover {
    color: var(--color-grey-dark);
}

.block-header__title {
    font-size: 20px;
    line-height: 28px;
}

@media screen and (max-width: 768px) {
    .block-download--item {
        font-size: 14px;
        line-height: 20px;
    }
}

.download__grid--container {
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr 1fr 1fr;
}

.download-file-grid-section .section-header.page-width--narrow {
    margin: 0 auto 48px;
}

@media screen and (max-width: 989px) {
    .download__grid--container {
        gap: 24px;
        grid-template-columns: 1fr;
    }
    .download-file-grid-section .section-header.page-width--narrow {
        margin: 0 auto 24px;
    }
}

.docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-calculator--rates-title, 
.docapp-single-shipping-calculator .docapp-shipping-calculator--rates .docapp-shipping-calculator--rates-title {
    margin-bottom: 8px !important;
    text-transform: uppercase !important;
    font-family: var(--typeHeaderPrimary) !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: var(--colorTextBody) !important;
}

.docapp-cart-with-shipping-summary .docapp-shipping-rate, 
.docapp-cart-with-shipping-summary .docapp-shipping-rate div, 
.docapp-cart-with-shipping-summary .docapp-shipping-rate label {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: var(--colorTextBody) !important;
    font-family: var(--typeBasePrimary) !important;
}

.docapp-cart-with-shipping-summary .docapp-shipping-rate {
    margin-bottom: 8px !important;
}

.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate:last-child {
    margin-bottom: 0 !important;
}

.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate-name input[type="radio"] {
    accent-color: var(--colorTextBody);
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    margin: 0 !important;
}

.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate-price.docapp-selected, 
.cart__page-col .docapp-single-shipping-calculator .docapp-shipping-calculator--rates .docapp-shipping-rate-price.docapp-selected {
    font-weight: 400 !important;
}

.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates {
    background-color: #fdfdf6 !important;
    border-radius: 8px !important;
    margin: 0 !important;
    padding: 16px !important;
}

.docapp-cart-with-shipping-summary {
    margin-top: 0 !important;
    margin-bottom: 24px !important;
}

.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input, 
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type="text"].docapp-shipping-calculator--input-city, 
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type="text"].docapp-shipping-calculator--input-address, 
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input input[type="text"].docapp-shipping-calculator--input-zip, 
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--input select.docapp-shipping-calculator--select {
    border-radius: 8px !important;
    color: var(--colorTextBody) !important;
    border-color: #DCDBCF !important;
}

.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--button {
    border-radius: 40px !important;
}

.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator, 
.cart__page-col .docapp-single-shipping-calculator .docapp-shipping-calculator {
    padding: 0 !important;
    margin-bottom: 8px !important;
    margin-left: -4px !important;
    margin-right: -4px !important;
}

.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--button,
.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--button:hover {
    background: #16BAB1 !important;
    color: #28282C !important;
    border-color: #16BAB1 !important;
}

.btn--white {
    background-color: #FFFFFF;
    color: #28282C;
    border-color: #DCDBCF;
}

.btn--white:hover {
    color: #28282C;
}

.cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate-name label {
    display: flex;
    align-items: center;
    gap: 8px;
}

#shopify-block-dr_shipping_calculator_single_calculator_3Krr4C {
    display: none;
}

@media screen and (max-width: 767px) {
    .cart__page-col .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates {
        background-color: #F3F2E9 !important;
    }

    .docapp-cart-with-shipping-summary {
        margin: 0 auto !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .cart__page-col.cart__page-subtotal,
    .cart__page-col .cart__item-row.cart-recommendations{
        padding-top: 24px;
        border-top: 1px solid #DCDBCF;
    }
}

/* Cart drawer */
.cart__page-col .cart__item--subtotal,
.cart__item-row.cart__checkout-wrapper {
    margin-bottom: 16px;
}

.cart__drawer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid #DCDBCF;
}

.cart__drawer-label {
    font-size: 24px;
    line-height: 1.33333;
}

.site-nav__close-cart .site-nav__link--icon {
    padding-right: 0;
    margin-top: -16px;
    margin-bottom: -16px;
}

.cart-open .site-header__drawers-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
    .cart__drawer-label {
        font-size: 20px;
        line-height: 1.4;
    }
}

.swiper {
    width: 100%;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-drawer-recommendations .cart-recommendations-slide:not(.swiper-horizontal) .swiper-slide {
    width: calc(100% / 3);
    padding: 0 8px;
}

.cart-drawer-recommendations .grid-item__content {
    background-color: #FFFFFF;
}

.site-header__drawer-desktop-nav {
    height: 100%;
}

.cart-recommendations-slide {
    position: relative;
}

.cart-drawer-recommendations .cart-recommendations-slide:not(.swiper-horizontal) {
    overflow-x: auto;
}

.cart-drawer-recommendations {
    padding: 20px 15px 0;
}

.cart-items {
    padding: 24px 20px;
    border-bottom: 1px solid #DCDBCF;
}

.site-header__drawer .cart__scrollable {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-header__drawer .cart__scrollable::-webkit-scrollbar,
.cart-recommendations-slide::-webkit-scrollbar  {
    display: none;
}

.cart-recommendations-slide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-product .grid-product__title {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.site-header__drawer .card-product .grid-product__title {
    font-size: 12px;
    line-height: 1.33333;
    min-height: 32px;
}

.card-product .grid-item__meta-secondary {
    margin-top: 8px;
}

.site-header__drawer .card-product .grid-product__price,
.site-header__drawer .card-product .grid-product__price--current {
    font-size: 12px;
    line-height: 1.33333;
}

.btn--blue,
.btn--blue:hover,
.grid-item__meta-button input.btn-add-to-cart {
    background-color: #16BAB1;
    color: #FFFFFF;
    border-color: #16BAB1;
    font-size: 12px;
    line-height: 1.33333;
    padding: 7px 12px;
    min-height: 30px;
    margin-top: 0 !important;
}

.grid-item__meta-button input.btn-add-to-cart:focus {
    border-width: 1px;
}

.grid-item__meta-button {
    margin-top: 8px;
}

.cart-recommendations-slide .swiper-button-prev {
    left: -10px;
}

.cart-recommendations-slide .swiper-button-next {
    right: -10px;
}

.cart-recommendations-slide .swiper-button-next, 
.cart-recommendations-slide .swiper-button-prev {
    top: 26%;
}

.cart-drawer-recommendations .cart__recommended-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.site-header__drawer .cart__item--subtotal {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.site-header__drawer .cart__footer {
    padding: 24px;
}

.site-header__drawer .cart__item-row {
    margin-bottom: 16px;
}

.site-header__drawer .js-qty__wrapper {
    max-width: 80px;
    margin-top: 10px;
}

.site-header__drawer .js-qty__wrapper input {
    min-height: 28px;
}

.site-header__drawer .js-qty__wrapper .js-qty__adjust--minus {
    padding-left: 8px;
    min-width: 20px;
}

.site-header__drawer .js-qty__wrapper .js-qty__adjust--plus {
    padding-right: 8px;
    min-width: 20px;
}

.site-header__drawer .js-qty__adjust .icon-minus {
    width: 12px;
}

.site-header__drawer .js-qty__num {
    padding: 5px 24px 5px 20px;
}

.site-header__drawer-container {
    display: flex;
    flex-direction: column;
}

.site-header__drawer-container .cart__drawer-form {
    flex: 1;
}

.card-product .grid-item__meta {
    margin: 8px 0 0 0;
}

.site-header__drawer .cart__item-remove a {
    font-size: 13px;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-top: 8px;
}

.site-header__drawer .cart__item-price {
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .card-product .grid-item__meta {
        margin: 8px 0 0 0;
    }
    .site-header__drawer .card-product .grid-product__price--current {
        margin-right: 0;
    }
    .site-header__drawer .cart__item-name,
    .site-header__drawer .cart__price:not(.cart__price--strikethrough) {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .site-header__drawer .card-product .grid-product__price--current {
        margin-right: 0;
    }
}
/* Cart drawer */

.site-header__drawer  .bss-b2b-customer-portal-nt-checkout-btn {
    display: none;
}

[bss-po-cart-item-key][bss-po-item-original-price] {
    visibility: visible;
}
.bss-b2b-customer-portal-wrapper {
  min-height: 564px!important;
}
.Polaris-Frame__Content, .bss-b2b-customer-portal-wrapper,
.Polaris-Navigation,
.Polaris-LegacyCard__Section,
#shopify-section-sections--18017430339832__footer .footer__section.footer__section--border,
.Polaris-LegacyCard__Header,
.bss-b2b-customer-portal-wrapper input,
.bss-b2b-customer-portal-wrapper select,
.Polaris-Box{
  background: var(--colorNav)!important;
}
.bss-b2b-customer-portal-wrapper * {
  border-color: #dcdbcf!important;
}