.btn--white {
    background-color: var(--color-white);
    color: var(--color-grey-dark);
    border-color: var(--colorBorder);
}
.text-underline-link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.text-underline-link:hover {
    color: var(--colorLinkHover);
}
.customer-page h1,
.customer-page .h1 {
    font-size: 64px;
    line-height: 72px;
}

.customer-page h2,
.customer-page .h2 {
    font-size: 40px;
    line-height: 48px;
}

.customer-page h3,
.customer-page .h3 {
    font-size: 32px;
    line-height: 40px;
}

.customer-page h4,
.customer-page .h4 {
    font-size: 24px;
    line-height: 32px;
}
.customer-page h5,
.customer-page .h5 {
    font-size: 20px;
    line-height: 28px;
}

.customer-page h6,
.customer-page .h6 {
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 768px) {
    .customer-page h1,
    .customer-page .h1 {
        font-size: 36px;
        line-height: 44px;
    }

    .customer-page h2,
    .customer-page .h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .customer-page h3,
    .customer-page .h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .customer-page h4,
    .customer-page .h4 {
        font-size: 20px;
        line-height: 28px;
    }
    .customer-page h5,
    .customer-page .h5 {
        font-size: 18px;
        line-height: 24px;
    }

    .customer-page h6,
    .customer-page .h6 {
        font-size: 14px;
        line-height: 20px;
    }
}
/* Account page */
.no-margin-bottom {
    margin-bottom: 0;
}
.page-content.customer-page {
    padding-top: 72px;
    padding-bottom: 72px;
}

.customer-page a,
.button-link {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 14px;
    line-height: 20px;
}

.customer-page .text-link:hover {
    color: var(--colorLinkHover);
}

@media only screen and (max-width: 768px) {
    .page-content.customer-page {
        padding-top: 24px;
        padding-bottom: 48px;
    }
}

.customer-page .btn,
.customer-page .btn.btn--secondary {
    color: var(--colorTextButtonSecondaryCustomer);
    background-color: var(--colorBgButtonSecondaryCustomer);
    min-height: 56px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
}

.customer-page .form-vertical .btn {
    width: 100%;
}

.customer-page .section-header__title {
    font-size: 40px;
    line-height: 1.2;
}

.customer-page .form-vertical p {
    font-size: 14px;
    line-height: 1.4285;
}

@media only screen and (max-width: 768px) {
    .customer-page .section-header__title {
        font-size: 32px;
        line-height: 1.25;
    }
}

input,
textarea,
select {
    background-color: var(--backgroundInput);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

.customer-page .section-header {
    margin-bottom: 24px;
}

.info-reset-password {
    margin-top: 16px;
}

.logout-link a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    margin-top: 8px;
}

.logout-link span {
    line-height: 0;
}

.logout-link svg {
    width: 16px;
    height: 16px;
}

.logout-link a:hover svg {
    color: var(--colorLinkHover);
}

.customer-page.main-account .section-header {
    margin-bottom: 32px;
}

.main-account table {
    border-radius: 8px;
}

@media screen and (min-width: 769px) {
    .main-account table th,
    .main-account table td {
        border-bottom: 1px solid var(--colorBorder);
    }
}

.main-account table tr:last-child td {
    border-bottom: 0;
}

.main-account table tfoot tr:first-child td {
    border-top: 1px solid var(--colorBorder);
}

.main-account table thead tr th:first-child {
    border-top-left-radius: 8px;
}

.main-account table thead tr th:last-child {
    border-top-right-radius: 8px;
}

.main-account table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.main-account table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.main-account table thead tr th {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.main-account table tbody tr td[data-label="Order"] a {
    background-color: var(--color-white);
    padding: 10px 25px;
    border: 1px solid var(--colorBorder);
    border-radius: 999px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}

.main-account table tbody tr td[data-label="Product"] a {
    font-size: 16px;
    line-height: 1.5;
}

.main-account table tbody tr td[data-label="Order"] a:hover {
    border-color: var(--color-grey-dark);
    color: var(--color-grey-dark);
}

.order-history-title {
    padding-bottom: 16px;
    margin-bottom: 8px;
}

.main-account table tfoot td {
    font-weight: 700;
    text-transform: uppercase;
}

@media only screen and (max-width: 1023px) and (min-width: 769px) {
    .main-account table td {
        font-size: calc(var(--typeBaseSize) * 0.875);
    }
    .account-content .grid__item:first-child {
        width: 100%;
    }
    .main-account table tbody tr td[data-label="Product"] a {
        font-size: 14px;
        line-height: 1.4;
    }
}

@media only screen and (max-width: 1023px) {
    .account-content .grid__item:not(:first-child) {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .order-history-title {
        border-bottom: 1px solid var(--colorBorder);
    }
}

/* Addresses page */
.addresses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}

.addresses-list .addresses-item {
    width: calc(50% - 12px);
    border: 1px solid var(--colorBorder);
    border-radius: 8px;
    padding: 24px;
}

.addresses-item {
    position: relative;
}

.default-badge {
    position: absolute;
    right: 24px;
    top: 24px;
    background-color: var(--color-grey-dark);
    color: var(--color-white);
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    border-radius: 8px;
    font-weight: 700;
}

.addresses-item p {
    margin-bottom: 24px;
}

.addresses-item p:last-child,
.addresses-item p.address-action,
.addresses-item p.action-cancel {
    margin-bottom: 0;
}

.addresses-item .address-edit-toggle {
    padding-left: 0;
}

.return-text-link {
    margin-top: 8px;
    display: block;
}

.address-new-form .grid {
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.address-new-form .grid .grid__item {
    width: 100%;
}

.input-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-checkbox label {
    margin-bottom: 0;
}

.customer-page .form-vertical.address-new-form .btn {
    width: auto;
}

p.addresses-cancel-link {
    margin-bottom: 24px;
}

.addresses-item .form-vertical h4 {
    margin-top: 24px;
}

@media screen and (max-width: 768px) {
    .addresses-list .addresses-item {
        width: 100%;
    }
    .main-addresses .section-header--with-link {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .main-addresses .section-header--with-link .address-new-toggle {
        width: 100%;
    }
}

.rich__text--content p {
    margin-bottom: 16px;
}

.main-form-contact select {
    width: 100%;
}

.main-form-contact textarea {
    height: 92px;
}

.main-form-contact .btn {
    padding: 16px 48px;
}

.rich-text-section .rich-text-page-content img {
    display: inline;
}

.block-download--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 0;
    border-top: 1px solid var(--colorBorder);
}

.block-download--item:last-child {
    border-bottom: 1px solid var(--colorBorder);
}

.block-download--item .btn {
    margin-left: 8px;
}

.block-download--item a.btn:hover {
    color: var(--color-grey-dark);
}

.block-header__title {
    font-size: 20px;
    line-height: 28px;
}

@media screen and (max-width: 768px) {
    .block-download--item {
        font-size: 14px;
        line-height: 20px;
    }
}

.download__grid--container {
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr 1fr 1fr;
}

.download-file-grid-section .section-header.page-width--narrow {
    margin: 0 auto 48px;
}

@media screen and (max-width: 989px) {
    .download__grid--container {
        gap: 24px;
        grid-template-columns: 1fr;
    }
    .download-file-grid-section .section-header.page-width--narrow {
        margin: 0 auto 24px;
    }
}